.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  margin: 1rem;
  min-height: calc(100vh - 120px);
}

main > * {
  margin-bottom: 1rem;
}

picture > * {
  width: 100%;
}

.Toastify__progress-bar--info {
  background: rgb(28, 110, 164) !important;
}
